.issue__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #111111;
}

.issue__seccond--top {
    font-size: 30px;
    font-weight: 800;
    color: #fff;
    margin: 20px 0 17px;
}

.issue__seccond--img {
    width: 389px;
}