@import '../../global.scss';

.header {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    background-color: #111111;
    color: #ffffff;
    width: 100vw;
    position: relative;

    .header__left {
        padding: 27px 97px;
    }

    .header__right {

        @include mobile {
            display: none;
        }

        @include tablet {
            display: none;
        }

        display: flex;
        padding: 34px 120px;
        font-size: 14px;

        .iconX {
            display: none;
        }

        p:nth-child(1) {
            margin-right: 76px;
        }

        p:nth-child(2) {
            margin-right: 72px;
        }

        p:nth-child(3) {
            margin-right: 102px;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                width: 1px;
                height: 23px;
                background-color: #fff;
                top: -5px;
                right: -50px;
            }
        }

        p:nth-child(4) {
            margin-right: 79px;
        }
    }

    .header__right--expand {
        width: 100%;
        background-color: black;
        border-top: 1px solid black;
        position: absolute;
        top: 10px;

        .iconX {
            @include mobile {
                display: block;
                cursor: pointer;
                position: absolute;
                top: 0;
                right: 10px;
                font-size: 20px;
                color: white;
            }

            @include tablet {
                display: block;
                cursor: pointer;
                position: absolute;
                top: 0;
                right: 10px;
                font-size: 20px;
                color: white;
            }

        }

        p {
            padding-left: 20px;
        }
    }

    .icon {
        display: none;

        @include mobile {
            cursor: pointer;
            display: block;
            font-size: 26px;
            margin: 0 50px;
        }

        @include tablet {
            cursor: pointer;
            display: block;
            font-size: 26px;
            margin: 0 50px;
        }
    }
}