@import '../../../global.scss';

.video {
    z-index: 9;

    @include mobile {
        width: 75%;
        top: 80px;
        right: 60px;
    }

    @include tablet {
        width: 75%;
        top: 80px;
        right: 60px;
    }
}

.video__object1 {
    position: absolute;
    width: 411px;
    bottom: -70px;
    left: 348px;
    z-index: 2;

    @include mobile {
        width: 120px;
        bottom: 10%;
        left: 10%;
    }

    @include tablet {
        width: 120px;
        bottom: 10%;
        left: 10%;
    }
}


.video__object2 {
    position: absolute;
    width: 90px;
    bottom: 50px;
    right: 30%;

    @include mobile {
        width: 40px;
        bottom: 15%;
        right: 20%;
    }

    @include tablet {
        width: 40px;
        bottom: 15%;
        right: 20%;
    }
}

.video__object3 {
    position: absolute;
    width: 146px;
    bottom: 100px;
    left: 223px;

    @include mobile {
        width: 40px;
        bottom: 15%;
        left: 6%;
    }

    @include tablet {
        width: 40px;
        bottom: 15%;
        left: 6%;
    }
}

.video__object4 {
    position: absolute;
    width: 596px;
    height: 512px;
    top: 20%;
    left: -18%;

    @include mobile {
        width: 220px;
        height: 220px;
        top: 25%;
        left: -15%;
    }

    @include tablet {
        width: 220px;
        height: 220px;
        top: 25%;
        left: -15%;
    }
}

.video__object5 {
    position: absolute;
    width: 146px;
    top: 0;
    left: 226px;

    @include mobile {
        width: 120px;
        top: 0;
        left: 0;
    }

    @include tablet {
        width: 120px;
        top: 0;
        left: 0;
    }
}

.video__object6 {
    position: absolute;
    width: 130px;
    top: 270px;
    right: 244px;
    z-index: 2;

    @include mobile {
        width: 70px;
        top: 80px;
        right: 60px;
    }

    @include tablet {
        width: 70px;
        top: 80px;
        right: 60px;
    }
}

.video__object7 {
    position: absolute;
    width: 158px;
    top: 156px;
    right: 138px;

    @include mobile {
        width: 70px;
        top: 20px;
        right: 20px;
    }

    @include tablet {
        width: 70px;
        top: 20px;
        right: 20px;
    }
}

.video__object8 {
    position: absolute;
    width: 596px;
    bottom: 40px;
    right: -11%;
    z-index: 2;

    @include mobile {
        width: 120px;
        top: 60%;
        right: -5%;
    }

    @include tablet {
        width: 120px;
        top: 60%;
        right: -5%;
    }
}

.video__object9 {
    position: absolute;
    width: 342px;
    top: 45%;
    right: -9%;

    @include mobile {
        width: 120px;
        top: 50%;
        right: -5%;
    }

    @include tablet {
        width: 120px;
        top: 50%;
        right: -5%;
    }
}