.video {
    z-index: 9;
}

.video__object1 {
    position: absolute;
    width: 411px;
    bottom: -70px;
    left: 348px;
    z-index: 2;
}


.video__object2 {
    position: absolute;
    width: 90px;
    bottom: 50px;
    right: 30%;
}

.video__object3 {
    position: absolute;
    width: 146px;
    bottom: 100px;
    left: 223px;
}

.video__object4 {
    position: absolute;
    width: 596px;
    height: 512px;
    top: 20%;
    left: -18%;
}

.video__object5 {
    position: absolute;
    width: 146px;
    top: 0;
    left: 226px;
}

.video__object6 {
    position: absolute;
    width: 130px;
    top: 270px;
    right: 244px;
    z-index: 2;
}

.video__object7 {
    position: absolute;
    width: 158px;
    top: 156px;
    right: 138px;
}

.video__object8 {
    position: absolute;
    width: 596px;
    bottom: 40px;
    right: -11%;
    z-index: 2;
}

.video__object9 {
    position: absolute;
    width: 342px;
    top: 45%;
    right: -9%;
}